{% extends "base.html" %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-6">

            <div class="login-card text-center">

                <h2 class="login-title">

                    Password Updated

                </h2>

                <p class="text-light mt-4">

                    Your password was changed successfully.

                </p>

                <a href="{% url 'login' %}"
                   class="btn premium-login-btn mt-4">

                    Login Now

                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}