```html id="p7bop5"
{% extends "base.html" %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-5">

            <div class="login-card">

                <h2 class="login-title text-center mb-4">

                    Create New Password

                </h2>

                <form method="post">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button class="btn premium-login-btn w-100 mt-3">

                        Update Password

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}
```
